<html>
<title>Truth Table</title>
<head></head>
<body>
	<% # table id fitted with values for testing %>
	<% puts cols %>
	<table id="truth_table{<%= cols %>,<%= table[0][cols-4] %>,<%= table[0][cols-6] %>}">
		<tr id="header_row">
			<% for i in 1..cols-6 %>
				<th align="center" id="b<%= cols-6-i %>"><%= cols-6-i %></th>
			<% end %>
			<th align="center" id="and">AND</th>
			<th align="center" id="or">OR</th>
			<th align="center" id="nand">NAND</th>
			<th align="center" id="nor">NOR</th>
			<th align="center" id="xor">XOR</th>
			<th align="center" id="single">SINGLE</th>
		</tr>

		<% for r in 0..rows-1 %>
			<tr>
			<% for c in 0..cols-1 %>
				<td align="center" id="{<%= r %>,<%= c %>}" value="<% table[r][c] %>"><%= table[r][c] %></td>
			<% end %>
			</tr>
		<% end %>
	</table>
	<br>
	<form action="/save" method="post" id="save_form">
		Filename: <input type="text" name="fname" id="fname"> <button type="submit" id="submit">Save</button>
	</form>
	<a href="/">Back to main page</a>
</body>
</html>